@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower&display=swap);
body {
  background-color: #4D806D;
  font-family: "Indie Flower", cursive;
}

div {
  display: block;
}

h1, h2, h3 {
  color: beige;
  text-shadow: -2px 2px 0 #088304, -2px 0 0 #088304, -2px -2px 0 #088304, 0 2px 0 #088304, 0 -2px 0 #088304, 2px 2px 0 #00642a, 2px 0 0 #00642a, 2px -2px 0 #00642a, 0 2px 0 #00642a, 0 -2px 0 #00642a;
}

h3 {
  word-spacing: 5px;
  letter-spacing: 2px;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideInFromRight {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media only screen and (min-width: 665px) {
  body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  p {
    margin-top: 10px;
    text-align: justify;
  }
  .page-wrapper {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    width: 691px;
    text-align: left;
    position: relative;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: beige;
  }
  .intro {
    min-width: 470px;
  }
  .intro h1, .intro h2 {
    text-align: center;
    font-size: 45px;
    color: black;
    text-transform: uppercase;
  }
  .intro h2 {
    display: inline-block;
    margin-left: 20px;
    margin-top: -10px;
  }
  header {
    width: 506px;
    height: 234px;
    float: left;
    background-image: url("forest-header.jpg");
    width: 100%;
    height: 220px;
    margin-left: 0px;
  }
  .summary {
    margin-top: 45px;
    margin-right: 50px;
    width: 179px;
    height: 117px;
    float: right;
    padding-right: 6px;
    line-height: 1.5;
    background-color: #4D806D;
    border-radius: 10px;
    height: 250px;
    padding: 15px;
    word-spacing: 5px;
  }
  .summary p {
    text-align: inherit;
  }
  .preamble {
    display: inline-block;
    margin-left: 10px;
    padding-top: -10px;
    width: 400px;
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
  }
  .preamble h3 {
    background-image: url("leaf_underline.png");
    background-repeat: no-repeat;
    background-position: -5px -40px;
  }
  .preamble h3::after {
    content: url("nature2.jpeg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 50px;
  }
  .supporting {
    margin-left: 10px;
    padding: 0px 0px;
    width: 400px;
    position: relative;
  }
  .supporting .explanation h3 {
    background-image: url("leaf_underline.png");
    background-repeat: no-repeat;
    background-position: -5px -40px;
  }
  .supporting .explanation h3::after {
    content: url("waterfall1.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 50px;
  }
  .supporting .participation h3 {
    background-image: url("leaf_underline.png");
    background-repeat: no-repeat;
    background-position: -5px -40px;
  }
  .supporting .participation h3::after {
    content: url("participation.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 50px;
  }
  .supporting .participation p {
    float: left;
    width: 650px;
    background-image: none;
  }
  .supporting .benefits h3 {
    background-image: url("leaf_underline.png");
    background-repeat: no-repeat;
    background-position: -5px 300px;
  }
  .supporting .benefits h3::after {
    content: url("benefits.jpeg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 50px;
  }
  .supporting .benefits p {
    float: left;
    width: 650px;
  }
  .supporting .requirements h3 {
    background-image: url("leaf_underline.png");
    background-repeat: no-repeat;
    background-position: -5px 80px;
  }
  .supporting .requirements h3::after {
    content: url("requirements.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 50px;
  }
  .supporting .requirements p {
    float: left;
    width: 650px;
  }
  .sidebar {
    display: inline-block;
    width: 179px;
    position: absolute;
    top: 593px;
    left: 433px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #4D806D;
    border-radius: 10px;
    padding: 15px;
  }
  .sidebar ul {
    text-align: left;
  }
  .sidebar ul li {
    list-style-image: url("leaf_icon.png");
  }
  .design-selection nav {
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    will-change: background;
  }
  .design-selection nav li a:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#a737e7), to(darkgreen)) 0 1em/100% 20em no-repeat;
    background: linear-gradient(90deg, #a737e7, darkgreen) 0 1em/100% 20em no-repeat;
  }
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

@media only screen and (max-width: 665px) {
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: beige;
    text-align: center;
    padding: 20px;
    margin: 50px;
  }
  h1, h2, h3, h4, h5 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -10px;
  }
  p {
    margin-top: 10px;
    text-align: justify;
    text-align: center;
  }
  header {
    margin-left: -15px;
    margin-right: -15px;
    background-image: url("forest-header.jpg");
  }
  .preamble h3 {
    text-align: center;
  }
  .preamble h3::after {
    content: url("nature2.jpeg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: -10px;
  }
  .explanation h3 {
    text-align: center;
  }
  .explanation h3::after {
    content: url("waterfall1.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: -10px;
  }
  .participation h3 {
    text-align: center;
  }
  .participation h3::after {
    content: url("participation.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: -10px;
  }
  .benefits h3 {
    text-align: center;
  }
  .benefits h3::after {
    content: url("benefits.jpeg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: -10px;
  }
  .requirements h3 {
    text-align: center;
  }
  .requirements h3::after {
    content: url("requirements.jpg");
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: -10px;
  }
}
/*# sourceMappingURL=styles.css.map */